.main{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.he{
    text-align: center;
}
.Content{
    display: flex;
    flex-direction: column;
}
.Content .Users{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 244, 127);

}
.Content .Users label,button{
    padding: 10px;
    margin: 5px;

}
