.App{
   height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .Content-App{
    display: flex;
    flex-direction: row;
    overflow: hidden;
  }
  .Sidebar{
    overflow-y: auto;
  }
  .Main-Content{
    overflow-y: auto;
  }
  